<header class="entry">
            <nav class="navbar">
                <ul>
                    <li><a href="/#about">Про нас</a></li>
                    <li><a href="/#investitions">Інвестиції</a></li>
                    <li><a href="/#steps">Відкриття</a></li>
                    <li><a href="/#franchise">Франчайзінг</a></li>
                </ul>
            </nav>

        <div class="container">
            <div class="entry-title">
                <img src="../assets/images/logo.png" class="logo" alt="steam">
                <h1>{{headerTitle}}</h1>
                <p>{{headerDescription}}</p>
                <a href="/#contact"><button>Зв‘язок з нами</button></a>
            </div>
        </div>
</header>